.bouton  {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    height: 100px;
    margin: 0 0 0 0;
    width: 100%;
    border-radius: 0 0 0 0;
}

.bouton:hover {
    opacity: 0.9;
}

.menu { 
    background-color: white;
    color: gray;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    border-color: gray !important;
    display: inline-block;
    width: 100%;
}

a.menu { 
    margin: 0 0 0 0;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

a.menu:hover { 
    background-color: rgb(52, 151, 218);
    color: white !important;
    text-decoration: none;
}

.dropdown-toggle {
    margin-top: 4px;
    color: gray !important;
}

ul.dropdown-menu {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    border-color: gray;

}

.btn-group { 
    position: absolute;
    left: 45%;
    width: 20%;
    top: 0%;
    margin-top: 6px;
}

.header {
    display: inline-block;
    padding: 5 5 5 5;
}

.navbar {
    padding-top: 4px;
    padding-bottom: 4px;
}
.navbar-brand {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.nav {
    margin-top: 16px;
}


/* IDS */
#h1 {
    font-size: 32px;
    font-weight: bold;
    padding-left: 10px;
    color: gray;
    display: inline-block;
}
#subtitle {
    font-style: oblique;
    color: gray;
    display: inline-block;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    text-align: bottom;
}
#subtitle:hover{
    background-color:#1abb9b;
    color: white;
    text-decoration: none;
}

#copied {
    color: rgb(34, 167, 240);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: none;
    position:absolute;
    right:10%;
    top: 10px;
}

#footer {
    text-align: center;
    color: gray;
}
i {
    vertical-align: text-bottom;
    margin-bottom: -4px;
}



/* COLORS */

.turquoise  {
    background-color: rgb(26, 187, 155);
}

.emerald  {
    background-color: rgb(46, 203, 113);
}

.peterriver  {
    background-color: rgb(52, 151, 218);
}

.amethyst  {
    background-color: rgb(154, 89, 181);
}

.wetasphalt  {
    background-color: rgb(52, 73, 94);
}

.greensea  {
    background-color: rgba(22, 159, 132, 1);
}

.nephritis  {
    background-color: rgba(39, 173, 96, 1);
}

.belizehole  {
    background-color: rgba(41, 127, 184, 1);
}

.wisteria {
    background-color: rgba(141, 68, 172, 1);
}

.midnightblue {
    background-color: rgba(44, 62, 80, 1);
}

.sunflower {
    background-color: rgba(240, 195, 15, 1);
}

.carrot {
    background-color: rgba(229, 126, 34, 1);
}

.alizarin {
    background-color: rgba(230, 76, 60, 1);
}

.clouds {
    background-color: rgba(235, 239, 240, 1);
}

.concrete {
    background-color: rgba(148, 164, 165, 1);
}

.orange {
    background-color: rgba(242, 155, 18, 1);
}

.pumpkin {
    background-color: rgba(210, 84, 0, 1);
}

.pomegranate {
    background-color: rgba(191, 57, 43, 1);
}

.silver {
    background-color: rgba(188, 194, 198, 1);
}

.asbestos {
    background-color: rgba(127, 139, 140, 1);
}


.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


/* CSS - ICONS */

.code.icon {
  color: #000;
  position: absolute;
  margin-left: 3px;
  margin-top: 6px;
}

.code.icon:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: solid 1px currentColor;
  border-top: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.code.icon:after {
  content: '';
  position: absolute;
  left: 6px;
  width: 8px;
  height: 8px;
  border-bottom: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}


.heart-solid.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  margin-left: 5px;
  width: 9px;
  height: 9px;
  border-left: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.heart-solid.icon:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -1px;
  width: 8px;
  height: 5px;
  border-radius: 5px 5px 0 0;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  background-color: currentColor;
}

.heart-solid.icon:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 8px;
  width: 5px;
  height: 8px;
  border-radius: 0 5px 5px 0;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  background-color: currentColor;
}





.container {
    width: 100% !important;
    padding: 0 0 0 0;
    max-width: 100%
}
