.bouton  {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    height: 190px;
    margin: 0 0 0 0;
    width: 100%;
    border-radius: 0 0 0 0;
}

.bouton:hover {
    opacity: 0.9;
}

.menu { 
    background-color: white;
    color: gray;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    border-color: gray !important;
    display: inline-block;
    width: 100%;
}

a.menu { 
    margin: 0 0 0 0;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

a.menu:hover { 
    background-color: rgb(52, 151, 218);
    color: white;
    text-decoration: none;
}


ul.dropdown-menu {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    border-color: gray;

}
.btn-group { 
    width: 70px;
}

.header {
    display: inline-block;
    padding: 5 5 5 5;
}

/* COLORS */
#h1 {
    font-size: 32px;
    font-weight: bold;
    padding-left: 10px;
    color: gray;
    display: inline-block;
}
#subtitle {
    font-style: oblique;
    color: gray;
    display: inline-block;
    padding-left: 5px;
}

 .btn-group { 
    position: absolute;
    left: 45%;
    width: 20%;
    top: 0%;
    margin-top: 5px;
}

#copied {
    position: absolute;
    left: 70%;
    top: 0%;
    margin-top: 5px;
    margin-top: 5px;
    color: rgb(34, 167, 240);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    display: none;
}



/* COLORS */

.turquoise  {
    background-color: rgb(26, 187, 155);
}

.emerald  {
    background-color: rgb(46, 203, 113);
}

.peterriver  {
    background-color: rgb(52, 151, 218);
}

.amethyst  {
    background-color: rgb(154, 89, 181);
}

.wetasphalt  {
    background-color: rgb(52, 73, 94);
}

.greensea  {
    background-color: rgba(22, 159, 132, 1);
}

.nephritis  {
    background-color: rgba(39, 173, 96, 1);
}

.belizehole  {
    background-color: rgba(41, 127, 184, 1);
}

.wisteria {
    background-color: rgba(141, 68, 172, 1);
}

.midnightblue {
    background-color: rgba(44, 62, 80, 1);
}

.sunflower {
    background-color: rgba(240, 195, 15, 1);
}

.carrot {
    background-color: rgba(229, 126, 34, 1);
}

.alizarin {
    background-color: rgba(230, 76, 60, 1);
}

.clouds {
    background-color: rgba(235, 239, 240, 1);
}

.concrete {
    background-color: rgba(148, 164, 165, 1);
}

.orange {
    background-color: rgba(242, 155, 18, 1);
}

.pumpkin {
    background-color: rgba(210, 84, 0, 1);
}

.pomegranate {
    background-color: rgba(191, 57, 43, 1);
}

.silver {
    background-color: rgba(188, 194, 198, 1);
}

.asbestos {
    background-color: rgba(127, 139, 140, 1);
}


.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.container {
    width: 100% !important;
    padding: 0 0 0 0;
    max-width: 100%
}